11번 정답지 파싱

In [18]:
import pandas as pd
import json
import re

# 파일 경로 설정
xlsx_path = "4_990027_(주)대한항공_개별.xls"  
json_path = "report/parsed_11.json"

# 엑셀 파일 불러오기
df = pd.read_excel(xlsx_path, dtype=str)

# 필요한 열만 추출
df = df[["계정코드", "계정명", "20241231 K 원"]].copy()

# 계정코드가 11으로 시작하고 금액이 null이 아닌 행 필터링
df = df[df["계정코드"].str.startswith("11")]
df = df[df["20241231 K 원"].notnull()]

# 계정명에 대괄호([]) 포함된 행 제거
df = df[~df["계정명"].str.contains(r"[\[\]]", regex=True)]

# JSON 파일 로드
with open(json_path, "r", encoding="utf-8") as f:
    json_data = json.load(f)

# 항목코드와 항목명 매핑
code_to_label = {code.strip(): value["label"] for code, value in json_data.items()}

# 계정코드에서 앞 두 자리를 제외한 뒤 JSON 계정명으로 매핑
def map_code_to_label(full_code):
    short_code = full_code[2:]  # 예: 113199 → 3199
    return code_to_label.get(short_code)

df["계정명"] = df["계정코드"].apply(map_code_to_label)

# 매핑 실패(None) 제거
df = df[df["계정명"].notnull()]

# 결과 저장
df.to_excel("쩡만이채점/대한항공/answer/koreanair_11_2024.xlsx", index=False)

12, 13, 16번 정답지 파싱

In [28]:
import pandas as pd
import json
import re

# 파일 경로 설정
xlsx_path = "4_990027_(주)대한항공_개별.xls"  
json_path = "report/parsed_12.json"

# 엑셀 파일 불러오기
df = pd.read_excel(xlsx_path, dtype=str)

# 필요한 열만 추출
df = df[["계정코드", "계정명", "20231231 K 원"]].copy()

# 계정코드가 11으로 시작하고 금액이 null이 아닌 행 필터링
df = df[df["계정코드"].str.startswith("12")]
df = df[df["20231231 K 원"].notnull()]

# 계정명에 대괄호([]) 포함된 행 제거
df = df[~df["계정명"].str.contains(r"[\[\]]", regex=True)]

# JSON 파일 로드
with open(json_path, "r", encoding="utf-8") as f:
    json_data = json.load(f)

# 항목코드와 항목명 매핑
code_to_label = {code.strip(): value["항목명"] for code, value in json_data.items()}

# 계정코드에서 앞 두 자리를 제외한 뒤 JSON 계정명으로 매핑
def map_code_to_label(full_code):
    short_code = full_code[2:]  # 예: 113199 → 3199
    return code_to_label.get(short_code)

df["계정명"] = df["계정코드"].apply(map_code_to_label)

# 매핑 실패(None) 제거
df = df[df["계정명"].notnull()]

# 결과 저장
df.to_excel("쩡만이채점/대한항공/answer/koreanair_12_2023.xlsx", index=False)
df.head()

       계정코드               계정명        20231231 K 원
309  121000                수익  14,575,109,042,426
310  121100            수익|총수익  14,575,109,042,426
313  121120  수익|총수익|제품판매로인한수익  14,575,109,042,426
320  122000              매출원가  11,663,969,717,208
321  122200       매출원가|제품매출원가  11,663,969,717,208

26번 정답지 파싱

In [30]:
import pandas as pd
import json
import re

# 파일 경로 설정
xlsx_path = "4_990027_(주)대한항공_개별.xls"  
json_path = "report/parsed_26.json"

# 엑셀 파일 불러오기
df = pd.read_excel(xlsx_path, dtype=str)

# 필요한 열만 추출
df = df[["계정코드", "계정명", "20231231 K 원"]].copy()

# 계정코드가 11으로 시작하고 금액이 null이 아닌 행 필터링
df = df[df["계정코드"].str.startswith("26")]
df = df[df["20231231 K 원"].notnull()]

# 계정명에 대괄호([]) 포함된 행 제거
df = df[~df["계정명"].str.contains(r"[\[\]]", regex=True)]

# JSON 파일 로드
with open(json_path, "r", encoding="utf-8") as f:
    json_data = json.load(f)

# 항목코드와 항목명 매핑
code_to_label = {code.strip(): value["label"] for code, value in json_data.items()}

# 계정코드에서 앞 두 자리를 제외한 뒤 JSON 계정명으로 매핑
#def map_code_to_label(full_code):
#    short_code = full_code[2:]  # 예: 113199 → 3199
#    return code_to_label.get(short_code)

df["계정명"] = df["계정코드"].map(code_to_label)

# 매핑 실패(None) 제거
df = df[df["계정명"].notnull()]

# 결과 저장
df.to_excel("쩡만이채점/대한항공/answer/koreanair_26_2023.xlsx", index=False)
df.head()

       계정코드                계정명       20231231 K 원
755  261000      기말납입자본|기초납입자본  1,846,657,275,000
759  261900             기말납입자본  1,846,657,275,000
760  263000  기초이익잉여금수정|기초이익잉여금  2,452,869,869,398
763  263013  처분후이익잉여금|수정후이익잉여금  2,452,869,869,398
764  263230      처분후이익잉여금|연차배당   -277,054,095,600

11번 문제지 파싱

In [38]:
import pandas as pd
import json

# 엑셀 파일 불러오기
df = pd.read_excel("12_CR5134_(주)골프존_개별.xls", dtype=str)

# '계정코드'가 11로 시작하는 행만 필터링
df_filtered = df[df["계정코드"].str.startswith("11")][["계정코드"]].dropna()

# JSON 파일 로드
with open("report/parsed_11.json", "r", encoding="utf-8") as f:
    parsed_json = json.load(f)

# 계정코드 매핑: 앞 두 자리('11') 제거 후 JSON에서 항목명 찾기
result = {}
for code in df_filtered["계정코드"]:
    stripped_code = code[2:]  # 예: '113199' → '3199'
    항목 = parsed_json.get(stripped_code)
    if 항목 and "label" in 항목:
        result[code] = {"label": 항목["label"]}

# 저장
with open("쩡만이채점/대한항공/report/golfzone_11.json", "w", encoding="utf-8") as f:
    json.dump(result, f, ensure_ascii=False, indent=2)

12, 13, 16번 문제지 파싱

In [40]:
import pandas as pd
import json

# 엑셀 파일 불러오기
df = pd.read_excel("12_CR5134_(주)골프존_개별.xls", dtype=str)

# '계정코드'가 11로 시작하는 행만 필터링
df_filtered = df[df["계정코드"].str.startswith("16")][["계정코드"]].dropna()

# JSON 파일 로드
with open("report/parsed_16.json", "r", encoding="utf-8") as f:
    parsed_json = json.load(f)

# 계정코드 매핑: 앞 두 자리('11') 제거 후 JSON에서 항목명 찾기
result = {}
for code in df_filtered["계정코드"]:
    stripped_code = code[2:]  # 예: '113199' → '3199'
    항목 = parsed_json.get(stripped_code)
    if 항목 and "항목명" in 항목:
        result[code] = {"항목명": 항목["항목명"]}

# 저장
with open("쩡만이채점/대한항공/report/golfzone_16.json", "w", encoding="utf-8") as f:
    json.dump(result, f, ensure_ascii=False, indent=2)

26번 문제지 파싱

In [36]:
import pandas as pd
import json

# 엑셀 파일 불러오기
df = pd.read_excel("4_990027_(주)대한항공_개별.xls", dtype=str)

# '계정코드'가 11로 시작하는 행만 필터링
df_filtered = df[df["계정코드"].str.startswith("26")][["계정코드"]].dropna()

# JSON 파일 로드
with open("report/parsed_26.json", "r", encoding="utf-8") as f:
    parsed_json = json.load(f)

# 계정코드 매핑: 앞 두 자리('11') 제거 후 JSON에서 항목명 찾기
result = {}
for code in df_filtered["계정코드"]:
#    stripped_code = code[2:]  # 예: '113199' → '3199'
    항목 = parsed_json.get(code)
    if 항목 and "label" in 항목:
        result[code] = {"label": 항목["label"]}

# 저장
with open("쩡만이채점/대한항공/report/koreanair_26.json", "w", encoding="utf-8") as f:
    json.dump(result, f, ensure_ascii=False, indent=2)